<% include layout %>
<section class="container">
    <form method="post" action="contact/send">
        <h1>Contact</h1>
        <section class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Name">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Enter Email">
            <label for="name">Name</label>
            <textarea type="textarea" name="message" class="form-control" placeholder="Enter Message"></textarea>
            <button class="btn btn-danger" type="submit">Submit</button>
        </section>
    </form>
</section>
</body>

</html>