<% include layout %>
<section class="jumbotron center">
    <section class="container">
        <h1>LVL-UP!!!</h1>
        <p>Where gamers go to get high scores</p>
        <p>
            <a href="#" role="button" class="btn btn-primary btn-lg">Learn More >></a>
        </p>
    </section>
    <section class="container">
        <section class="row">
            <section class="col-md-4">
                <h2>POKEMON!</h2>
                <p>pokeispsum</p>
            </section>
            <section class="col-md-4">
                <h2>POKEMON!</h2>
                <p>pokeispsum</p>
            </section>
            <section class="col-md-4">
                <h2>POKEMON!</h2>
                <p>pokeispsum</p>
            </section>
        </section>
    </section>
</section>

</body>

</html>